
h2 {
  color: rgb(128, 0, 117);
  font-size: 25px;
 
}
header {
  color: cornflowerblue;
  padding: 20px;
  text-align: center;
  margin: auto;
  width: 60%;
  font-size: 50px;
}
* {
    box-sizing: border-box;
    
  }

  code{
    color: rgb(132, 67, 206);
  }


    
.topnav {
    overflow: hidden;
    background-color:rgb(218, 222, 255);
  
  }

  .topnav a {
    float: left;
    display: block;
    color: #000000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 25px;
  }

  .topnav a:hover {
    background-color: rgb(53, 134, 255);
    color: rgb(255, 255, 255);
  }

  .examples{
    border: 10px solid black;
    font-size: 15px;
    background-color: lightgrey;
    padding: 50px;
    margin: 20px;
    width: 750px;
  }

  h3{
    color: rgb(100, 132, 237);
    font-size: 25px;
  }

    
  .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
    background-color: lightslategray;
    text-align: center;
    font-size: 12px;
    padding: 15px;
  }